body {
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
}

* {
    font-family: 'Roboto', sans-serif;
}


/*
    ===========================
    Header
    ===========================
*/

header {
    background-color: #E00109;
    position: fixed;
    width: 100%;
    height: 72px;
    z-index: 5;
}

.logo {
    background-image: url(../images/spritesheet.png);
    background-position: -5px 560px;
    display: inline-block;
    width: 280px;
    height: 50px;
    margin: 12px 135px 0 175px;
}

header .fa {
    font-size: 30px;
    color: #fff;
    position: relative;
    top: -15px;
}

header .fa-twitter:hover,
header .fa-facebook:hover,
header .fa-youtube:hover,
header .fa-instagram:hover {
    opacity: 0.5;
}

.padding-right-15 {
    padding-right: 15px;
}

header button {
    float: right;
    box-sizing: border-box;
    background-color: transparent;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 30px;
    margin: 20px 190px 0 0;
    padding: 4px 10px 4px 10px;
}

button {
    outline: none;
}

button .fa-search {
    font-size: 13px;
    position: relative;
    top: -2px;
    right: -4px;
    margin: 0;
     -webkit-transform: scale(-1, 1);    
       -moz-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
         -o-transform: scale(-1, 1);
            transform: scale(-1, 1);
}


/*
    ===========================
    Navigation bar
    ===========================
*/

nav {
    clear: right;
    background-color: #5c5c66;
    text-transform: uppercase;
    position: relative;
    top: 72px;
    padding: 0 213px;
    z-index: 4;
}

nav a {
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.navigation-links {
    box-sizing: border-box;
    width: 1000px;
    padding: 10px 38px;
    position: relative;
    left: -38px;
    background-color: #4d4d59;
}

.padding-right-20 {
    padding-right: 20px;
}

.fa-chevron-down {
    margin-left: 10px;
}


/*
    ===========================
    Main content
    ===========================
*/

.main-content {
    background-color: #fff;
    box-shadow: 0 10px 30px 0px #bbb;
    position: relative;
    top: 32px;
    width: 1000px;
    height: 600px;
    margin: auto;
}

.wrapper {
    position: relative;
    top: 50px;
    width: 970px;
    height: 550px;
    margin: auto;
}


/*
    ===========================
    Stories
    ===========================
*/

.stories {
    background: pink;
    box-sizing: border-box;
    float: left;
    width: 640px;
    height: 260px;
    position: relative;
}

.stories section {
    height: 260px;
}

.story-title h1 {
    width: 185px;
    line-height: 26px;
    font-size: 26px;
    font-weight: 500;
    margin: 0;
}

.story-title {
    box-sizing: border-box;
    float: left;
    background-color: #333340;
    color: #fff;
    padding: 15px 12px;
    position: relative;
    height: 260px;
    width: 215px;
}

.sharing-icons-stories {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.sharing-icons-stories .fa {
    font-size: 20px;
}

.java-lato-photo {
    background-image: url(../images/spritesheet.png);
    background-position: -605px -5px;
    background-size: 248%;
    width: 155px;
    height: 163px;
    width: 425px;
    height: 260px;
    float: right;
}


/*
    ===========================
    Aside
    ===========================
*/

aside {
    float: right;
    width: 309px;
    height: 580px;
}


/*Main article*/

aside h2 {
    margin: 0;
    text-transform: uppercase;
    font-size: 15px;
    color: #e00109;
    padding-bottom: 2px;
}

.main-article {
    background: #ff0004;
    position: absolute;
    height: 67px;
    width: 309px;
}

.kfc-logo {
    background-image: url(../images/spritesheet.png);
    background-position: -570px 245px;
    width: 63px;
    height: 88px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.main-article a {
    font-size: 18px;
    font-weight: 600;
    color: #fabfce;
    text-decoration: none;
    position: relative;
    top: 23px;
    left: 15px;
}


/*Story 1*/

.story {
    position: relative;
    height: 163px;
}

.alcalde-chilca {
    top: 77px;
}

.story-link {
    float: left;
    box-sizing: border-box;
    background-color: #1363a9;
    color: #fff;
    padding: 10px;
    width: 154px;
    height: 163px;
}

.story-link a {
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
}

.sharing-icons {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.alcalde-chilca-photo {
    float: right;
    background-image: url(../images/spritesheet.png);
    background-position: -2px -5px;
    background-size: 410%;
    width: 155px;
    height: 163px;
}

.alcalde-chilca-photo span {
    margin-right: 10px;
}

.alcalde-chilca-photo div {
    background-color: #f00d05;
    font-size: 13px;
    font-weight: 500;
    color: #fabfce;
    text-transform: uppercase;
    padding: 4px 5px;
    position: absolute;
    top: 10px;
    right: 10px;
}


/*Story 2*/

.champions-league {
    top: 87px;
}


/*Publicity*/

.publicity {
    background-image: url(../images/spritesheet.png);
    background-position: -260px -180px;
    background-size: 328%;
    position: absolute;
    bottom: 20px;
    width: 308px;
    height: 86px;
}